<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @band.name %>
</p>

<p>
  <b>Genre:</b>
  <%= @band.genre %>
</p>

<p>
  <b>Website:</b>
  <%= @band.website %>
</p>

<p>
  <b>Email:</b>
  <%= @band.email %>
</p>

<p>
  <b>Rating:</b>
  <%= @band.rating %>
</p>

<p>
  <b>Notes:</b>
  <%= @band.notes %>
</p>


<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
